Repository woowacourse-teams/2022-ternoko, pull requests merged in 2022-10, with the labels that each got.

#403 [FE / BE] refactor: Interview에 AvailableDateTime 추가
  backend/2022년 09월 16일
  backend/README.md
  backend/src/main/java/com/woowacourse/ternoko/common/exception/AvailableDateTimeNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/InvalidAvailableDateTimeException.java
  backend/src/main/java/com/woowacourse/ternoko/config/DatabaseInitializer.java
  backend/src/main/java/com/woowacourse/ternoko/core/application/CoachService.java
  backend/src/main/java/com/woowacourse/ternoko/core/application/InterviewService.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/availabledatetime/AvailableDateTime.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/availabledatetime/AvailableDateTimeRepository.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/availabledatetime/AvailableDateTimeStatus.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/interview/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/interview/InterviewRepository.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/member/Member.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/request/InterviewRequest.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/response/AvailableDateTimeResponse.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/response/AvailableDateTimesResponse.java
  backend/src/main/java/com/woowacourse/ternoko/core/presentation/CoachController.java
  backend/src/main/java/com/woowacourse/ternoko/core/presentation/InterviewController.java
  backend/src/main/java/com/woowacourse/ternoko/support/time/TimeMachine.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceSupporter.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/CoachAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/InterviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/CoachControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/InterviewControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/core/domain/availabledatetime/AvailableDateTimeRepositoryTest.java
  backend/src/test/java/com/woowacourse/ternoko/core/domain/availabledatetime/AvailableDateTimeTest.java
  backend/src/test/java/com/woowacourse/ternoko/core/domain/comment/CommentTest.java
  backend/src/test/java/com/woowacourse/ternoko/core/domain/interview/InterviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/ternoko/core/domain/interview/InterviewTest.java
  backend/src/test/java/com/woowacourse/ternoko/core/domain/interview/formitem/AnswerTest.java
  backend/src/test/java/com/woowacourse/ternoko/core/domain/interview/formitem/QuestionTest.java
  backend/src/test/java/com/woowacourse/ternoko/domain/interview/InterviewTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/EmailServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/InterviewServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/support/fixture/CoachAvailableTimeFixture.java
  backend/src/test/java/com/woowacourse/ternoko/support/fixture/InterviewFixture.java
  backend/src/test/java/com/woowacourse/ternoko/support/fixture/refactor/AvailableDateTimeFixture.java
  backend/src/test/java/com/woowacourse/ternoko/support/fixture/refactor/InterviewFixture.java
  backend/src/test/java/com/woowacourse/ternoko/support/fixture/refactor/MemberFixture.java
  backend/src/test/java/com/woowacourse/ternoko/support/fixture/refactor/timemachine/ClockTest.java
  backend/src/test/resources/common.sql
  frontend/src/constants.ts
  frontend/src/pages/CoachInterviewCreatePage/index.tsx
  frontend/src/pages/InterviewApplyPage/index.tsx
  frontend/src/types/domain.ts
Labels: 🕋 backend, 🔨 refactor, 🔥 high-priority

#432 [BE] fix: 테스트에서 Log RequestBody 출력하게 수정
  backend/src/main/java/com/woowacourse/ternoko/common/log/LogInterceptor.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/interview/InterviewRepository.java
  backend/src/test/java/com/woowacourse/ternoko/api/restdocs/RestDocsTestSupporter.java
Labels: 🕋 backend, 🐛 fix

#450 FE] fix: 마이페이지, 로그아웃 안 눌리는 버그를 해결한다.
  frontend/src/components/Header/styled.ts
Labels: 🐛 fix, 📚 frontend

#448 [FE] fix: 취소된 면담의 시간은 활성화하지 않는다.
  frontend/src/pages/InterviewApplyPage/index.tsx
Labels: 🐛 fix, 📚 frontend

#451 [BE] fix: 다른 사람의 면담 조회 가능한 문제 해결
  backend/src/main/java/com/woowacourse/ternoko/core/application/InterviewService.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/interview/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/member/coach/Coach.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/member/crew/Crew.java
  backend/src/main/java/com/woowacourse/ternoko/core/presentation/InterviewController.java
  backend/src/test/java/com/woowacourse/ternoko/core/domain/interview/InterviewTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/InterviewServiceTest.java
Labels: 🕋 backend, 🐛 fix

#454 [BE] fix: 면담 예약 실패 시 슬랙 알람이 전송되는 문제 해결
  backend/src/main/java/com/woowacourse/ternoko/core/domain/member/coach/Coach.java
  backend/src/main/java/com/woowacourse/ternoko/core/domain/member/crew/Crew.java
  backend/src/main/java/com/woowacourse/ternoko/support/alarm/AlarmSender.java
  backend/src/test/java/com/woowacourse/ternoko/service/InterviewServiceTest.java
Labels: 🕋 backend, 🐛 fix

#458 [FE] refactor: 코치 시간 생성 달력과 크루 시간 선택 달력을 분리한다.
  frontend/src/components/@common/BabyShowMoreModal/index.tsx
  frontend/src/components/@common/BabyShowMoreModal/styled.tsx
  frontend/src/components/@common/Calendar/index.tsx
  frontend/src/components/@common/Calendar/styled.tsx
  frontend/src/components/@common/CrewAndCoachCalendarStyle/styled.tsx
  frontend/src/components/Calendar/Calendar.stories.tsx
  frontend/src/components/Calendar/index.tsx
  frontend/src/components/Calendar/styled.tsx
  frontend/src/components/CoachCreateTimeCalendar/index.tsx
  frontend/src/components/CoachCreateTimeCalendar/styled.tsx
  frontend/src/components/CoachScheduleCalendar/index.tsx
  frontend/src/components/CoachScheduleCalendar/styled.tsx
  frontend/src/components/CrewApplyInterviewCalendar/index.tsx
  frontend/src/components/CrewApplyInterviewCalendar/styled.tsx
  frontend/src/context/CalendarProvider.tsx
  frontend/src/pages/CoachHomePage/index.tsx
  frontend/src/pages/CoachInterviewCreatePage/index.tsx
  frontend/src/pages/InterviewApplyPage/index.tsx
  frontend/src/types/domain.ts
  frontend/src/utils.ts
Labels: 📚 frontend, 🔨 refactor

#467 [BE] refactor: @Builder 어노테이션 buildMethodName 속성 제거
  backend/src/main/java/com/woowacourse/ternoko/auth/dto/response/LoginResponse.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/request/CoachUpdateRequest.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/request/CrewUpdateRequest.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/request/FormItemRequest.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/response/CalendarResponse.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/response/CoachResponse.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/response/CrewResponse.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/response/FormItemResponse.java
  backend/src/main/java/com/woowacourse/ternoko/core/dto/response/InterviewResponse.java
Labels: 🕋 backend, 🔨 refactor

#496 [FE] refactor: 타입 시스템을 개편한다.
  frontend/src/Coach/api.ts
  frontend/src/Coach/components/ScheduleCalendar/index.tsx
  frontend/src/Coach/pages/CoachHomePage/index.tsx
  frontend/src/Coach/pages/CoachInterviewCreatePage/index.tsx
  frontend/src/Coach/pages/CoachLoginRegisterPage/index.tsx
  frontend/src/Coach/pages/CoachMyPage/index.tsx
  frontend/src/Coach/util.ts
  frontend/src/Crew/api.ts
  frontend/src/Crew/components/EmptyScreen/index.tsx
  frontend/src/Crew/components/Interview/index.tsx
  frontend/src/Crew/pages/CrewHomePage/index.tsx
  frontend/src/Crew/pages/CrewInterviewApplyPage/index.tsx
  frontend/src/Crew/pages/CrewInterviewApplyPage/styled.tsx
  frontend/src/Crew/pages/CrewInterviewCompletePage/index.tsx
  frontend/src/Crew/pages/CrewLoginRegisterPage/index.tsx
  frontend/src/Crew/pages/CrewMyPage/index.tsx
  frontend/src/Router/AppRoutes.tsx
  frontend/src/Router/PrivateRoute.tsx
  frontend/src/Shared/api.ts
  frontend/src/Shared/components/AskDeleteTimeModal/index.tsx
  frontend/src/Shared/components/CommentModal/index.tsx
  frontend/src/Shared/components/CrewAndCoachCalendarStyle/styled.tsx
  frontend/src/Shared/components/ErrorBoundary/index.tsx
  frontend/src/Shared/components/Header/index.tsx
  frontend/src/Shared/components/InterviewDetailModal/index.tsx
  frontend/src/Shared/components/Loading/index.tsx
  frontend/src/Shared/components/Loading/styled.tsx
  frontend/src/Shared/components/Modal/useModal.ts
  frontend/src/Shared/constants/index.ts
  frontend/src/Shared/constants/message.ts
  frontend/src/Shared/constants/path.ts
  frontend/src/Shared/context/CalendarProvider.tsx
  frontend/src/Shared/context/UserProvider.tsx
  frontend/src/Shared/pages/LoginPage/index.tsx
  frontend/src/Shared/pages/NotFoundPage/index.tsx
  frontend/src/Shared/pages/OAuthRedirectHandlerPage/index.tsx
  frontend/src/Styles/theme.ts
  frontend/src/Types/domain.ts
  frontend/src/Types/styled-components.d.ts
  frontend/src/Types/utilities.ts
  frontend/src/__test__/validation.test.ts
Labels: 📚 frontend, 🔨 refactor
