Repository woowacourse-teams/2022-ternoko, pull requests merged in 2022-07, with the labels that each got.

#3 [FE] 초기 환경을 설정한다.
  frontend/.babelrc
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/README.md
  frontend/config/webpack.common.js
  frontend/config/webpack.dev.js
  frontend/config/webpack.prod.js
  frontend/docs/REQUIREMENTS.MD
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/tsconfig.json
Labels: 🌟 feat, 📚 frontend

#6 [BE] 초기 환경을 설정한다.
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/woowacourse/ternoko/TernokoApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/woowacourse/ternoko/TernokoApplicationTests.java
Labels: 🕋 backend, 🌟 feat

#13 [BE] ERROR 사항을 수정한다.
  backend/build.gradle
  backend/src/main/java/com/woowacourse/ternoko/dto/CoachesResponse.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceTest.java
Labels: 🕋 backend, 🐛 fix

#16 [BE] 면담 예약 기능 구현
  backend/src/main/java/com/woowacourse/ternoko/controller/MemberController.java
  backend/src/main/java/com/woowacourse/ternoko/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Location.java
  backend/src/main/java/com/woowacourse/ternoko/dto/FormItemRequest.java
  backend/src/main/java/com/woowacourse/ternoko/dto/ReservationRequest.java
  backend/src/main/java/com/woowacourse/ternoko/repository/FormItemRepository.java
  backend/src/main/java/com/woowacourse/ternoko/repository/InterviewRepository.java
  backend/src/main/java/com/woowacourse/ternoko/repository/ReservationRepository.java
  backend/src/main/java/com/woowacourse/ternoko/service/MemberService.java
  backend/src/main/java/com/woowacourse/ternoko/service/ReservationService.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/ReservationServiceTest.java
Labels: 🕋 backend, 🌟 feat

#18 [BE] 면담 예약 상세 내역 조회 기능 구현
  backend/src/main/java/com/woowacourse/ternoko/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Member.java
  backend/src/main/java/com/woowacourse/ternoko/dto/ReservationResponse.java
  backend/src/main/java/com/woowacourse/ternoko/service/MemberService.java
  backend/src/main/java/com/woowacourse/ternoko/service/ReservationService.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/ReservationFixture.java
  backend/src/test/java/com/woowacourse/ternoko/service/ReservationServiceTest.java
Labels: 🕋 backend, 🌟 feat

#8 [FE] 메인 페이지를 개발한다.
  frontend/.babelrc
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/README.md
  frontend/config/webpack.common.js
  frontend/config/webpack.dev.js
  frontend/config/webpack.prod.js
  frontend/docs/REQUIREMENTS.MD
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/Button/styled.ts
  frontend/src/components/@common/GridContainer/styled.tsx
  frontend/src/components/CoachProfile/CoachProfile.stories.tsx
  frontend/src/components/CoachProfile/index.tsx
  frontend/src/components/CoachProfile/styled.tsx
  frontend/src/components/Header/Header.stories.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styled.ts
  frontend/src/components/Reservation/Reservation.stories.tsx
  frontend/src/components/Reservation/index.tsx
  frontend/src/components/Reservation/styled.ts
  frontend/src/index.tsx
  frontend/src/pages/HomePage/index.tsx
  frontend/src/pages/HomePage/styled.tsx
  frontend/src/pages/ReservationApplyPage/index.tsx
  frontend/src/pages/ReservationApplyPage/styled.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/styles/theme.ts
  frontend/src/types/styled-components.d.ts
  frontend/tsconfig.json
Labels: 🌟 feat, 📚 frontend

#22 [BE] 면담 목록 조회 기능 구현
  backend/src/main/java/com/woowacourse/ternoko/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/dto/ReservationRequest.java
  backend/src/main/java/com/woowacourse/ternoko/dto/ReservationResponse.java
  backend/src/main/java/com/woowacourse/ternoko/service/MemberService.java
  backend/src/main/java/com/woowacourse/ternoko/service/ReservationService.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/ReservationFixture.java
  backend/src/test/java/com/woowacourse/ternoko/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/ReservationServiceTest.java
Labels: 🕋 backend, 🌟 feat, 🔨 refactor

#29 [BE] docs: issue & PR 템플릿 추가
  .github/ISSUE_TEMPLATE/be-issue-template.md
  .github/ISSUE_TEMPLATE/fe-issue-template.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🕋 backend, 📝 docs, 📚 frontend

#27 [BE] 프로덕션 DB에 코치 더미데이터 추가
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceTest.java
  backend/src/test/resources/application.yml
Labels: 🕋 backend, chore

#33 [FE] feature: 면담 신청 페이지를개발한다.
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.storybook/preview.ts
  frontend/config/webpack.common.js
  frontend/config/webpack.dev.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/dummy/profile.webp
  frontend/src/App.tsx
  frontend/src/AppRoutes.tsx
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/Button/styled.ts
  frontend/src/components/@common/ErrorMessage/styled.tsx
  frontend/src/components/@common/GridContainer/styled.tsx
  frontend/src/components/Calendar/Calendar.stories.tsx
  frontend/src/components/Calendar/index.tsx
  frontend/src/components/Calendar/styled.tsx
  frontend/src/components/Calendar/useCalendar.ts
  frontend/src/components/CoachProfile/CoachProfile.stories.tsx
  frontend/src/components/CoachProfile/index.tsx
  frontend/src/components/CoachProfile/styled.tsx
  frontend/src/components/Header/Header.stories.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styled.ts
  frontend/src/components/Reservation/Reservation.stories.tsx
  frontend/src/components/Reservation/index.tsx
  frontend/src/components/Reservation/styled.ts
  frontend/src/components/TextAreaField/TextAreaField.stories.tsx
  frontend/src/components/TextAreaField/index.tsx
  frontend/src/components/TextAreaField/styled.tsx
  frontend/src/pages/HomePage/index.tsx
  frontend/src/pages/HomePage/styled.tsx
  frontend/src/pages/ReservationApplyPage/index.tsx
  frontend/src/pages/ReservationApplyPage/styled.tsx
  frontend/src/pages/ReservationCompletePage/index.tsx
  frontend/src/pages/ReservationCompletePage/styled.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/styles/theme.ts
  frontend/src/types/domain.ts
  frontend/src/types/styled-components.d.ts
Labels: 🌟 feat, 📚 frontend

#38 [FE] feat: UI / UX를 수정한다.
  frontend/public/index.html
  frontend/src/AppRoutes.tsx
  frontend/src/api/index.ts
  frontend/src/components/@common/Button/styled.ts
  frontend/src/components/@common/ErrorMessage/styled.tsx
  frontend/src/components/Calendar/index.tsx
  frontend/src/components/Calendar/useCalendar.ts
  frontend/src/components/CoachProfile/CoachProfile.stories.tsx
  frontend/src/components/CoachProfile/styled.tsx
  frontend/src/components/Header/styled.ts
  frontend/src/components/Reservation/Reservation.stories.tsx
  frontend/src/components/Reservation/index.tsx
  frontend/src/components/Reservation/styled.ts
  frontend/src/components/TextAreaField/styled.tsx
  frontend/src/pages/HomePage/index.tsx
  frontend/src/pages/ReservationApplyPage/index.tsx
  frontend/src/pages/ReservationApplyPage/styled.tsx
  frontend/src/pages/ReservationCompletePage/index.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/types/domain.ts
Labels: 🌟 feat, 📚 frontend

#45 [FE] refactor: 전반적인 리팩터링을 한다.
  frontend/src/AppRoutes.tsx
  frontend/src/api/index.ts
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/Button/styled.ts
  frontend/src/components/@common/GridContainer/styled.tsx
  frontend/src/components/Calendar/Calendar.stories.tsx
  frontend/src/components/Calendar/index.tsx
  frontend/src/components/Calendar/styled.tsx
  frontend/src/components/Calendar/useCalendar.ts
  frontend/src/components/CoachProfile/CoachProfile.stories.tsx
  frontend/src/components/CoachProfile/index.tsx
  frontend/src/components/CoachProfile/styled.tsx
  frontend/src/components/Reservation/Reservation.stories.tsx
  frontend/src/components/Reservation/index.tsx
  frontend/src/components/TextAreaField/TextAreaField.stories.tsx
  frontend/src/components/TextAreaField/index.tsx
  frontend/src/context/CalendarProvider.tsx
  frontend/src/pages/HomePage/index.tsx
  frontend/src/pages/ReservationApplyPage/index.tsx
  frontend/src/pages/ReservationApplyPage/styled.tsx
  frontend/src/pages/ReservationCompletePage/index.tsx
  frontend/src/styles/theme.ts
Labels: 🌟 feat, 📚 frontend

#46 [BE] 코치 면담 예약 가능 시간 저장 및 조회 기능 구현
  backend/build.gradle
  backend/src/main/java/com/woowacourse/ternoko/controller/MemberController.java
  backend/src/main/java/com/woowacourse/ternoko/domain/AvailableDateTime.java
  backend/src/main/java/com/woowacourse/ternoko/dto/AvailableDateTimesRequest.java
  backend/src/main/java/com/woowacourse/ternoko/dto/AvailableDateTimesResponse.java
  backend/src/main/java/com/woowacourse/ternoko/dto/CalendarResponse.java
  backend/src/main/java/com/woowacourse/ternoko/repository/AvailableDateTimeRepository.java
  backend/src/main/java/com/woowacourse/ternoko/service/MemberService.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/CoachAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/ReservationFixture.java
  backend/src/test/java/com/woowacourse/ternoko/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/ReservationServiceTest.java
Labels: 🕋 backend, 🌟 feat, discussion

#49 [BE] Sprint 1.5
  backend/src/main/java/com/woowacourse/ternoko/controller/MemberController.java
  backend/src/main/java/com/woowacourse/ternoko/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/ternoko/domain/FormItem.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Member.java
  backend/src/main/java/com/woowacourse/ternoko/dto/CoachResponse.java
  backend/src/main/java/com/woowacourse/ternoko/dto/FormItemResponse.java
  backend/src/main/java/com/woowacourse/ternoko/dto/ReservationResponse.java
  backend/src/main/java/com/woowacourse/ternoko/dto/request/AvailableDateTimesRequest.java
  backend/src/main/java/com/woowacourse/ternoko/dto/request/FormItemRequest.java
  backend/src/main/java/com/woowacourse/ternoko/dto/request/ReservationRequest.java
  backend/src/main/java/com/woowacourse/ternoko/repository/InterviewRepository.java
  backend/src/main/java/com/woowacourse/ternoko/service/MemberService.java
  backend/src/main/java/com/woowacourse/ternoko/service/ReservationService.java
  backend/src/test/java/com/woowacourse/ternoko/TernokoApplicationTests.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/CoachAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/ReservationFixture.java
  backend/src/test/java/com/woowacourse/ternoko/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/ReservationServiceTest.java
Labels: 🕋 backend, 🔨 refactor

#52 [FE] feat: 코치 면담 스케줄 만들기 UI를 개발한다.
  frontend/src/AppRoutes.tsx
  frontend/src/api/index.ts
  frontend/src/components/@common/ScrollContainer/styled.tsx
  frontend/src/components/@common/TitleBox/index.tsx
  frontend/src/components/@common/TitleBox/styled.tsx
  frontend/src/components/Calendar/index.tsx
  frontend/src/components/Calendar/styled.tsx
  frontend/src/components/Reservation/Reservation.stories.tsx
  frontend/src/components/Reservation/index.tsx
  frontend/src/components/Time/styled.tsx
  frontend/src/context/CalendarProvider.tsx
  frontend/src/hooks/useTimes.ts
  frontend/src/pages/CoachReservationCreatePage/index.tsx
  frontend/src/pages/CoachReservationCreatePage/styled.tsx
  frontend/src/pages/ReservationApplyPage/index.tsx
  frontend/src/pages/ReservationApplyPage/styled.tsx
  frontend/src/pages/ReservationCompletePage/index.tsx
  frontend/src/types/domain.ts
  frontend/src/utils.ts
Labels: 🌟 feat, 📚 frontend

#59 [BE] refactor: Member entity에서 Crew와 Coach 도메인을 분리한다.
  backend/src/main/java/com/woowacourse/ternoko/controller/MemberController.java
  backend/src/main/java/com/woowacourse/ternoko/domain/AvailableDateTime.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/domain/member/Coach.java
  backend/src/main/java/com/woowacourse/ternoko/domain/member/Crew.java
  backend/src/main/java/com/woowacourse/ternoko/domain/member/Member.java
  backend/src/main/java/com/woowacourse/ternoko/dto/CoachResponse.java
  backend/src/main/java/com/woowacourse/ternoko/dto/request/AvailableDateTimesRequest.java
  backend/src/main/java/com/woowacourse/ternoko/repository/CoachRepository.java
  backend/src/main/java/com/woowacourse/ternoko/repository/CrewRepository.java
  backend/src/main/java/com/woowacourse/ternoko/repository/MemberRepository.java
  backend/src/main/java/com/woowacourse/ternoko/service/CoachService.java
  backend/src/main/java/com/woowacourse/ternoko/service/ReservationService.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/ternoko/service/CoachServiceTest.java
  backend/src/test/resources/data.sql
Labels: 🕋 backend, 🔨 refactor

#62 [BE] chore: local환경과 배포환경의 yml설정을 분리
  backend/src/main/java/com/woowacourse/ternoko/config/DatabaseInitializer.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
Labels: 🕋 backend, chore

#67 [FE] feat: Calendar 고도화를 한다.
  frontend/src/api/index.ts
  frontend/src/context/CalendarProvider.tsx
  frontend/src/pages/CoachReservationCreatePage/index.tsx
  frontend/src/types/domain.ts
  frontend/src/utils.ts
Labels: 🌟 feat, 📚 frontend

#76 [FE] feat: 크루 입장에서, 코치 되는시간 조회 API를 연결한다.
  frontend/src/components/Calendar/index.tsx
  frontend/src/components/Calendar/styled.tsx
  frontend/src/context/CalendarProvider.tsx
  frontend/src/pages/CoachReservationCreatePage/index.tsx
  frontend/src/pages/ReservationApplyPage/index.tsx
  frontend/src/pages/ReservationApplyPage/styled.tsx
  frontend/src/types/domain.ts
Labels: 🌟 feat, 📚 frontend

#75 [BE] feat: 되는 시간 정렬 후 반환 로직 구현
  backend/src/main/java/com/woowacourse/ternoko/controller/MemberController.java
  backend/src/main/java/com/woowacourse/ternoko/dto/AvailableDateTimesResponse.java
  backend/src/main/java/com/woowacourse/ternoko/service/ReservationService.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/MemberAcceptanceTest.java
Labels: 🕋 backend, 🌟 feat

#83 [FE] feat: Header UI/UX 개선
  frontend/src/AppRoutes.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styled.ts
Labels: 🌟 feat, 📚 frontend

#79 [BE] fix: formItem에 interviewId null 값 들어가는 문제 수정
  backend/src/main/java/com/woowacourse/ternoko/domain/FormItem.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/service/ReservationService.java
Labels: 🕋 backend, 🐛 fix

#90 [FE] fix: 배포할때 발생하는 에러 해결
  frontend/config/webpack.prod.js
  frontend/src/api/index.ts
  frontend/src/components/Header/index.tsx
Labels: 🐛 fix, 📚 frontend

#91 [FE] fix: CoachReservationCreatePage - 홈으로 버튼 url 수정.
  frontend/src/pages/CoachReservationCreatePage/index.tsx
Labels: 🐛 fix, 📚 frontend

#86 [BE] feat: 면담 예약 시 코치 되는 시간에서 삭제 기능 추가
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/ternoko/repository/AvailableDateTimeRepository.java
  backend/src/main/java/com/woowacourse/ternoko/service/CoachService.java
  backend/src/main/java/com/woowacourse/ternoko/service/ReservationService.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/CoachAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/CoachAvailableTimeFixture.java
  backend/src/test/java/com/woowacourse/ternoko/service/CoachServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/ReservationServiceTest.java
Labels: 🕋 backend, 🌟 feat

#88 [BE] feat: 2차 스프린트까지의 기능 restdocs 적용
  backend/build.gradle
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/resources/static/docs/api.html
  backend/src/test/java/com/woowacourse/ternoko/api/CoachControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/ReservationControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/RestDocsConfiguration.java
  backend/src/test/java/com/woowacourse/ternoko/api/RestDocsTestSupport.java
  backend/src/test/resources/json/members/save-calendar-times.json
  backend/src/test/resources/json/reservations/create-reservation1.json
  backend/src/test/resources/json/reservations/create-reservation2.json
Labels: 🕋 backend, 📝 docs, 🌟 feat, chore

#110 fix: 코치 되는 시간 픽스쳐 관련(과거시간) 문제 수정
  backend/src/test/java/com/woowacourse/ternoko/acceptance/CoachAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/CoachAvailableTimeFixture.java
  backend/src/test/java/com/woowacourse/ternoko/service/CoachServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/ReservationServiceTest.java
Labels: 🕋 backend, 🐛 fix

#100 [BE] chore: log4j2 도입
  backend/.gitignore
  backend/build.gradle
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/log4j2-local.xml
  backend/src/main/resources/static/docs/api.html
Labels: 🕋 backend, 🌟 feat

#109 [FE] feat: 면담 예약 상세 페이지를 개발한다.
  frontend/public/index.html
  frontend/src/components/@common/Accordion/index.tsx
  frontend/src/components/@common/Accordion/styled.tsx
  frontend/src/components/@common/Button/styled.tsx
  frontend/src/components/@common/Modal/index.tsx
  frontend/src/components/@common/Modal/styled.tsx
  frontend/src/components/@common/Modal/useModal.ts
  frontend/src/components/ReservationDetailModal/index.tsx
  frontend/src/components/ReservationDetailModal/styled.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/LoginRegisterPage/styled.tsx
  frontend/src/pages/ReservationApplyPage/styled.tsx
  frontend/src/pages/ReservationCompletePage/index.tsx
  frontend/src/styles/theme.ts
  frontend/src/types/domain.ts
Labels: 🌟 feat, 📚 frontend
