Repository woowacourse-teams/2022-ternoko, pull requests merged in 2022-08, with the labels that each got.

#113 [BE] feat: 예약 수정 및 삭제 기능 구현 및 슬랙 알람 기능 도입
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/InvalidReservationCoachIdException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/InvalidReservationCrewIdException.java
  backend/src/main/java/com/woowacourse/ternoko/config/DatabaseInitializer.java
  backend/src/main/java/com/woowacourse/ternoko/controller/MemberController.java
  backend/src/main/java/com/woowacourse/ternoko/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/ternoko/domain/FormItem.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/domain/InterviewStatusType.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Reservation.java
  backend/src/main/java/com/woowacourse/ternoko/domain/member/Coach.java
  backend/src/main/java/com/woowacourse/ternoko/domain/member/Crew.java
  backend/src/main/java/com/woowacourse/ternoko/domain/member/Member.java
  backend/src/main/java/com/woowacourse/ternoko/dto/CalendarResponse.java
  backend/src/main/java/com/woowacourse/ternoko/dto/ReservationResponse.java
  backend/src/main/java/com/woowacourse/ternoko/dto/request/ReservationRequest.java
  backend/src/main/java/com/woowacourse/ternoko/service/AuthService.java
  backend/src/main/java/com/woowacourse/ternoko/service/ReservationService.java
  backend/src/main/java/com/woowacourse/ternoko/support/AlarmMessage.java
  backend/src/main/java/com/woowacourse/ternoko/support/SlackAlarm.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/CoachAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/CoachControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/ControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/ReservationControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/CoachAvailableTimeFixture.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/ReservationFixture.java
  backend/src/test/java/com/woowacourse/ternoko/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/CoachServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/CrewServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/ReservationServiceTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/data.sql
  backend/src/test/resources/json/reservations/create-reservation1.json
  backend/src/test/resources/json/reservations/create-reservation2.json
Labels: 🕋 backend, 🌟 feat

#137 [BE] 자동화 테스트를 세팅한다.
  .github/workflows/backend-test
  backend/build.gradle
  backend/config/ternoko-checkstyle.xml
  backend/config/wooteco-style.xml
  backend/src/main/java/com/woowacourse/ternoko/common/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/ternoko/config/ClassConfig.java
  backend/src/main/java/com/woowacourse/ternoko/config/DatabaseInitializer.java
  backend/src/main/java/com/woowacourse/ternoko/domain/AvailableDateTime.java
  backend/src/main/java/com/woowacourse/ternoko/dto/NicknameResponse.java
  backend/src/main/java/com/woowacourse/ternoko/dto/ReservationResponse.java
  backend/src/main/java/com/woowacourse/ternoko/dto/request/AvailableDateTimeRequest.java
  backend/src/main/java/com/woowacourse/ternoko/dto/request/AvailableDateTimesRequest.java
  backend/src/main/java/com/woowacourse/ternoko/repository/AvailableDateTimeRepository.java
  backend/src/main/java/com/woowacourse/ternoko/repository/CoachRepository.java
  backend/src/main/java/com/woowacourse/ternoko/service/CoachService.java
  backend/src/main/java/com/woowacourse/ternoko/service/MemberService.java
  backend/src/main/java/com/woowacourse/ternoko/support/SlackAlarm.java
  backend/src/main/resources/log4j2-local.xml
Labels: 🕋 backend, chore

#139 [BE] feat: exception 구조 변경 및 sqlException Handler 추가
  backend/config/wooteco-style.xml
  backend/src/main/java/com/woowacourse/ternoko/common/exception/BadRequestException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/CommonException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/advice/GlobalControllerAdvice.java
Labels: 🕋 backend, 🌟 feat

#135 [BE] docs: 3차 스프린트까지의 restDocs 최신화 및 리팩토링
  backend/build.gradle
  backend/src/docs/asciidoc/api.adoc
  backend/src/test/java/com/woowacourse/ternoko/api/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/CoachControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/ControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/CrewControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/ReservationControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/RestDocsConfiguration.java
  backend/src/test/java/com/woowacourse/ternoko/api/RestDocsTestSupport.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/MemberFixture.java
  backend/src/test/resources/json/members/save-calendar-times.json
  backend/src/test/resources/json/reservations/create-reservation1.json
  backend/src/test/resources/json/reservations/create-reservation2.json
Labels: 🕋 backend, 📝 docs, chore

#153 [BE] fix: ReservationResponse Status 추가
  backend/src/main/java/com/woowacourse/ternoko/dto/ReservationResponse.java
  backend/src/test/java/com/woowacourse/ternoko/service/CoachServiceTest.java
  backend/src/test/resources/json/reservations/create-reservation1.json
  backend/static/docs/api.html
Labels: 🕋 backend, 🐛 fix

#157 [BE] feat: 크루의 면담목록 조회 API 수정
  backend/src/main/java/com/woowacourse/ternoko/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/ternoko/dto/InterviewResponse.java
  backend/src/main/java/com/woowacourse/ternoko/repository/InterviewRepository.java
  backend/src/main/java/com/woowacourse/ternoko/service/ReservationService.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/ReservationServiceTest.java
Labels: 🕋 backend, 🌟 feat

#162 [BE] fix: 록바 코치 관련 데이터 추가
  backend/src/main/java/com/woowacourse/ternoko/config/DatabaseInitializer.java
Labels: all 👨‍👩‍👧‍👦

#163 [BE] fix: 슬랙 알람 시간 포맷 변경
  backend/src/main/java/com/woowacourse/ternoko/support/SlackAlarm.java
Labels: 🕋 backend, 🐛 fix

#170 [BE] fix: 면담 조회 시 코치/크루 이미지 응답값 추가
  backend/src/main/java/com/woowacourse/ternoko/dto/InterviewResponse.java
  backend/src/main/java/com/woowacourse/ternoko/dto/ReservationResponse.java
Labels: 🕋 backend, 🐛 fix

#175 [BE] fix: 회원 이미지 수정 및 코치 정보 수정 시 이미지 저장 기능 구현 #173
  backend/src/main/java/com/woowacourse/ternoko/dto/CoachUpdateRequest.java
  backend/src/main/java/com/woowacourse/ternoko/service/AuthService.java
  backend/src/main/java/com/woowacourse/ternoko/service/CoachService.java
Labels: 🕋 backend, 🐛 fix

#209 [FE] fix: 회원가입시, 프로필 안 뜨는 버그를 해결한다.
  frontend/src/components/@common/Accordion/index.tsx
  frontend/src/components/ReservationDetailModal/index.tsx
  frontend/src/components/ReservationDetailModal/styled.ts
  frontend/src/pages/LoginRegisterPage/index.tsx
  frontend/src/pages/TestPage/index.tsx
Labels: 🐛 fix, 📚 frontend

#211 [BE] AccessToken 유효성 검사 로직 추가
  backend/src/main/java/com/woowacourse/ternoko/config/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/woowacourse/ternoko/config/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/woowacourse/ternoko/controller/AuthController.java
  backend/src/main/java/com/woowacourse/ternoko/domain/MemberType.java
  backend/src/main/java/com/woowacourse/ternoko/domain/Type.java
  backend/src/main/java/com/woowacourse/ternoko/dto/LoginResponse.java
  backend/src/main/java/com/woowacourse/ternoko/service/AuthService.java
  backend/src/test/java/com/woowacourse/ternoko/api/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/AuthServiceTest.java
Labels: 🕋 backend

#215 [BE] fix: 코치 월별 일정 조회시, canceled 된 interview filtering
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/woowacourse/ternoko/controller/CoachController.java
  backend/src/main/java/com/woowacourse/ternoko/domain/InterviewStatusType.java
  backend/src/main/java/com/woowacourse/ternoko/interview/application/InterviewService.java
  backend/src/test/java/com/woowacourse/ternoko/interview/application/InterviewServiceTest.java
Labels: 🕋 backend

#223 [BE] docs: accessToken 유효성 검사 api docs 추가
  backend/src/docs/asciidoc/api.adoc
Labels: 🕋 backend, 📝 docs

#214 [BE] fix: status AvailableDateTimeResponse 누락된 것 추가
  backend/src/docs/asciidoc/api.adoc
  backend/src/main/java/com/woowacourse/ternoko/availabledatetime/dto/AvailableDateTimeResponse.java
  backend/src/main/java/com/woowacourse/ternoko/availabledatetime/dto/AvailableDateTimesResponse.java
  backend/src/main/java/com/woowacourse/ternoko/service/CoachService.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/CoachAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/InterviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/fixture/CoachAvailableTimeFixture.java
Labels: 🕋 backend

#238 feat: 면담 신청 페이지 바뀐 api에 맞춰 대응
  frontend/src/pages/InterviewApplyPage/index.tsx
  frontend/src/types/domain.ts
Labels: 🌟 feat, 📚 frontend

#241 [BE] feat: 록바 코치, 바니 크루 더미데이터 지우고, 터놓고 코치 더미데이터 추가
  backend/src/main/java/com/woowacourse/ternoko/config/DatabaseInitializer.java
Labels: 🕋 backend, 🌟 feat

#249 [BE] fix: 다음날 면담 예약도 가능하도록 수정
  backend/src/main/java/com/woowacourse/ternoko/interview/application/InterviewService.java
  backend/src/test/java/com/woowacourse/ternoko/interview/application/InterviewServiceTest.java
Labels: 🕋 backend, 🐛 fix

#258 [BE] AccessToken 유효성 검사 type ALL 추가
  1
  backend/src/main/java/com/woowacourse/ternoko/controller/AuthController.java
  backend/src/test/java/com/woowacourse/ternoko/api/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/AuthServiceTest.java
Labels: 🕋 backend

#231 [BE] feat: Comment Create 기능 구현 및 테스트 추가
  backend/build.gradle
  backend/src/main/java/com/woowacourse/ternoko/comment/domain/Comment.java
  backend/src/main/java/com/woowacourse/ternoko/comment/dto/CommentRequest.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidStatusCreateCommentException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/presentation/CommentController.java
  backend/src/main/java/com/woowacourse/ternoko/comment/repository/CommentRepository.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/domain/InterviewStatusType.java
  backend/src/main/java/com/woowacourse/ternoko/domain/MemberType.java
  backend/src/main/java/com/woowacourse/ternoko/interview/application/InterviewService.java
  backend/src/main/java/com/woowacourse/ternoko/interview/domain/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/service/EmailService.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/InterviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/comment/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/domain/InterviewTest.java
  backend/src/test/java/com/woowacourse/ternoko/interview/application/InterviewServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/AuthServiceTest.java
  backend/src/test/resources/data.sql
Labels: 🕋 backend, 🌟 feat

#233 [BE] feat: Comment 조회, 수정 기능 구현
  backend/src/main/java/com/woowacourse/ternoko/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/ternoko/comment/domain/Comment.java
  backend/src/main/java/com/woowacourse/ternoko/comment/dto/CommentResponse.java
  backend/src/main/java/com/woowacourse/ternoko/comment/dto/CommentsResponse.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/CommentNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidCommentInterviewIdException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidCommentMemberIdException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidStatusFindCommentException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/presentation/CommentController.java
  backend/src/main/java/com/woowacourse/ternoko/comment/repository/CommentRepository.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/ternoko/domain/MemberType.java
  backend/src/main/java/com/woowacourse/ternoko/interview/application/InterviewService.java
  backend/src/main/java/com/woowacourse/ternoko/interview/domain/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/support/EmailGenerator.java
  backend/src/main/resources/application-local.yml
  backend/src/test/java/com/woowacourse/ternoko/acceptance/InterviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/comment/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/interview/application/InterviewServiceTest.java
  backend/src/test/resources/data.sql
Labels: 🕋 backend, 🌟 feat

#247 [BE] feat: 로그 전략 도입 및 환경별 적용
  backend/src/main/java/com/woowacourse/ternoko/common/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionResponse.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/advice/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/ternoko/common/log/CustomLoggingFilter.java
  backend/src/main/java/com/woowacourse/ternoko/common/log/LogForm.java
  backend/src/main/java/com/woowacourse/ternoko/common/log/LogInterceptor.java
  backend/src/main/java/com/woowacourse/ternoko/config/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/woowacourse/ternoko/config/WebConfig.java
  backend/src/main/resources/log4j2-local.xml
Labels: 🕋 backend, ⛑ infra

#235 [BE] refactor: Comment 코드 리팩터링
  backend/src/main/java/com/woowacourse/ternoko/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/ternoko/comment/domain/Comment.java
  backend/src/main/java/com/woowacourse/ternoko/domain/InterviewStatusType.java
  backend/src/main/java/com/woowacourse/ternoko/domain/MemberType.java
  backend/src/main/java/com/woowacourse/ternoko/interview/domain/Interview.java
  backend/src/main/resources/static/docs/api.html
  backend/src/test/java/com/woowacourse/ternoko/interview/application/InterviewServiceTest.java
Labels: 🕋 backend, 🔨 refactor

#261 [BE] custom exception code 적용
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/CommentNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidCommentInterviewIdException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidCommentMemberIdException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidStatusCreateCommentException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidStatusFindCommentException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/BadRequestException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/CoachNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/CommonException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/CrewNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionResponse.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExpiredTokenException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/InterviewStatusException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/InvalidLengthException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/InvalidTokenException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/advice/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/form/BadRequestException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/form/ForbiddenException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/form/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/ternoko/interview/exception/InterviewNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/interview/exception/InvalidInterviewCoachIdException.java
  backend/src/main/java/com/woowacourse/ternoko/interview/exception/InvalidInterviewCrewIdException.java
  backend/src/main/java/com/woowacourse/ternoko/interview/exception/InvalidInterviewDateException.java
Labels: 🕋 backend

#246 [BE] Coach Crew 인가 처리 로직 추가
  backend/README.md
  backend/src/main/java/com/woowacourse/ternoko/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/ternoko/comment/dto/CommentResponse.java
  backend/src/main/java/com/woowacourse/ternoko/comment/presentation/CommentController.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/advice/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/ternoko/common/log/LogForm.java
  backend/src/main/java/com/woowacourse/ternoko/controller/AuthController.java
  backend/src/main/java/com/woowacourse/ternoko/controller/CoachController.java
  backend/src/main/java/com/woowacourse/ternoko/controller/CrewController.java
  backend/src/main/java/com/woowacourse/ternoko/domain/member/Coach.java
  backend/src/main/java/com/woowacourse/ternoko/domain/member/Crew.java
  backend/src/main/java/com/woowacourse/ternoko/domain/member/Member.java
  backend/src/main/java/com/woowacourse/ternoko/domain/member/MemberType.java
  backend/src/main/java/com/woowacourse/ternoko/interview/application/InterviewService.java
  backend/src/main/java/com/woowacourse/ternoko/interview/domain/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/interview/domain/InterviewStatusType.java
  backend/src/main/java/com/woowacourse/ternoko/interview/dto/InterviewResponse.java
  backend/src/main/java/com/woowacourse/ternoko/interview/presentation/InterviewController.java
  backend/src/main/java/com/woowacourse/ternoko/login/aop/CoachOnly.java
  backend/src/main/java/com/woowacourse/ternoko/login/aop/CrewOnly.java
  backend/src/main/java/com/woowacourse/ternoko/login/aop/LoginMemberVerifier.java
  backend/src/main/java/com/woowacourse/ternoko/login/aop/MemberTypeCache.java
  backend/src/main/java/com/woowacourse/ternoko/login/application/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/ternoko/login/application/AuthService.java
  backend/src/main/java/com/woowacourse/ternoko/login/application/JwtProvider.java
  backend/src/main/java/com/woowacourse/ternoko/login/domain/AuthenticationPrincipal.java
  backend/src/main/java/com/woowacourse/ternoko/login/domain/dto/LoginResponse.java
  backend/src/main/java/com/woowacourse/ternoko/login/domain/dto/TokenResponse.java
  backend/src/main/java/com/woowacourse/ternoko/login/exception/CoachNotAllowedException.java
  backend/src/main/java/com/woowacourse/ternoko/login/exception/CrewNotAllowedException.java
  backend/src/main/java/com/woowacourse/ternoko/login/exception/TokenNotValidException.java
  backend/src/main/java/com/woowacourse/ternoko/login/presentation/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/woowacourse/ternoko/login/presentation/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/woowacourse/ternoko/login/presentation/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/ternoko/service/EmailService.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/CoachAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/InterviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/CoachControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/ControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/CrewControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/InterviewControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/RestDocsTestSupport.java
  backend/src/test/java/com/woowacourse/ternoko/comment/acceptance/CommentAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/common/JwtProviderTest.java
  backend/src/test/java/com/woowacourse/ternoko/domain/InterviewTest.java
  backend/src/test/java/com/woowacourse/ternoko/interview/application/InterviewServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/AuthServiceTest.java
Labels: 🕋 backend

#283 [BE] fix: 슬랙 메세지 디자인 수정
  backend/src/main/java/com/woowacourse/ternoko/config/DatabaseInitializer.java
  backend/src/main/java/com/woowacourse/ternoko/interview/presentation/InterviewController.java
  backend/src/main/java/com/woowacourse/ternoko/support/AlarmMessage.java
  backend/src/main/java/com/woowacourse/ternoko/support/SlackAlarm.java
  backend/src/main/java/com/woowacourse/ternoko/support/SlackMessageType.java
  backend/src/main/resources/static/docs/api.html
Labels: 🕋 backend, 🐛 fix

#286 [BE] refactor: 면담 수정 시 코치 변경될 경우 알람 기능 수정
  backend/src/main/java/com/woowacourse/ternoko/config/DatabaseInitializer.java
  backend/src/main/java/com/woowacourse/ternoko/interview/application/InterviewService.java
  backend/src/main/java/com/woowacourse/ternoko/interview/dto/AlarmResponse.java
  backend/src/main/java/com/woowacourse/ternoko/interview/presentation/InterviewController.java
  backend/src/main/java/com/woowacourse/ternoko/support/SlackAlarm.java
  backend/src/main/java/com/woowacourse/ternoko/support/SlackMessageType.java
  backend/src/test/java/com/woowacourse/ternoko/interview/application/InterviewServiceTest.java
Labels: 🕋 backend, 🔨 refactor

#290 [BE] fix: 데이터베이스 이니셜라이저 데이터 수정
  backend/src/main/java/com/woowacourse/ternoko/config/DatabaseInitializer.java
Labels: 🕋 backend, 🐛 fix

#288 [BE] refactor: 예외 구조 변경
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/CommentNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidCommentInterviewIdException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidCommentMemberIdException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidStatusCreateCommentException.java
  backend/src/main/java/com/woowacourse/ternoko/comment/exception/InvalidStatusFindCommentException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/CoachNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/CommonException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/CrewNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionResponse.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExpiredTokenException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/InterviewStatusException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/InvalidLengthException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/InvalidTokenException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/advice/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/form/BadRequestException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/form/ForbiddenException.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/form/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/ternoko/common/log/LogInterceptor.java
  backend/src/main/java/com/woowacourse/ternoko/config/WebConfig.java
  backend/src/main/java/com/woowacourse/ternoko/interview/exception/InterviewNotFoundException.java
  backend/src/main/java/com/woowacourse/ternoko/interview/exception/InvalidInterviewCoachIdException.java
  backend/src/main/java/com/woowacourse/ternoko/interview/exception/InvalidInterviewCrewIdException.java
  backend/src/main/java/com/woowacourse/ternoko/interview/exception/InvalidInterviewDateException.java
  backend/src/main/java/com/woowacourse/ternoko/login/exception/CoachNotAllowedException.java
  backend/src/main/java/com/woowacourse/ternoko/login/exception/CrewNotAllowedException.java
  backend/src/main/java/com/woowacourse/ternoko/login/exception/TokenNotValidException.java
Labels: 🕋 backend, 🔨 refactor

#308 [BE] 누락된 interview update 리팩터링 코드 복구
  backend/src/main/java/com/woowacourse/ternoko/availabledatetime/domain/AvailableDateTime.java
  backend/src/main/java/com/woowacourse/ternoko/availabledatetime/domain/AvailableDateTimeStatus.java
  backend/src/main/java/com/woowacourse/ternoko/comment/application/CommentService.java
  backend/src/main/java/com/woowacourse/ternoko/comment/presentation/CommentController.java
  backend/src/main/java/com/woowacourse/ternoko/common/exception/ExceptionType.java
  backend/src/main/java/com/woowacourse/ternoko/interview/application/InterviewService.java
  backend/src/main/java/com/woowacourse/ternoko/interview/domain/Interview.java
  backend/src/main/java/com/woowacourse/ternoko/interview/domain/formitem/FormItem.java
  backend/src/main/resources/static/docs/api.html
  backend/src/test/java/com/woowacourse/ternoko/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/ternoko/api/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/ternoko/availabledatetime/domain/AvailableDateTimeRepositoryTest.java
  backend/src/test/java/com/woowacourse/ternoko/comment/application/CommentServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/domain/InterviewTest.java
  backend/src/test/java/com/woowacourse/ternoko/interview/application/InterviewServiceTest.java
  backend/src/test/java/com/woowacourse/ternoko/service/AuthServiceTest.java
Labels: 🐛 fix
